*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color:black;
}
.container .box{
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box h1{
    position: relative;
    top: -200px;
    color: white;
    font-size: 50px;
}
.box h5{
    position: relative;
    top: -190px;
    color: white;
}
.box p{
    position: relative;
    top: -50px;
    color: white;
    align-items: center;
}
.social{
    position: relative;
    top: -350px;
    display: flex;
    justify-content: center;
}
.social .gh{
    position: relative;
    top: -10px;
    margin-right: 20px;
}
.mail{
    position: relative;
    top: -300px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.mail a{
    border: 1px solid white;
    padding: 10px;
    color: white;
}